/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR');

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Noto Serif KR', sans-serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1 {
  color: #98ADA6;
  font-size: 5em;
  font-family: 'Noto Serif KR', sans-serif;
  font-weight: 600;
  padding-top:10px;
  padding-bottom:10px;
  margin: 0;
}
 hr {
  color: #CCC;
}
 h2 {
  color: #6F7F7A;
  font-weight: 500;
}
 #necklace {
  border: 3px solid #98ADA6;
}
 a img {
  border: 3px solid #CCC;
}
 a img:hover {
  transition: background-color 0.5s ease;
  background-color: black;
  border: 3px solid #6F7F7A;
}
 .footer {
  text-align: right;
}